
body
{
  background-color : #fbf7ea;
  font-family      : "tex_gyre_pagella", serif;
  color            : #444444;
  margin           : 0 0 0 0;
  counter-reset    : sidenote-counter;
}

body a.sidenote-number
{
  counter-increment : sidenote-counter;
  vertical-align    : super;
  font-size         : smaller;
  text-decoration   : none;
  color             : #ff541c;
  margin            : 0 0 0 0;
  padding           : 0 0 0 0;
  line-height       : 0.5em;
}

body a.sidenote-number::before
{
  content : counter(sidenote-counter);
}

body span.sidenote::before
{
  content        : counter(sidenote-counter);
  vertical-align : super;
  font-size      : smaller;
  color          : #ff541c;
  position       : relative;
}

body div#disqus_thread
{
  max-width : 40em;
  margin    : 2em auto auto auto;
}

body div#content
{
  text-rendering : optimizeLegibility;
  margin-top     : 5em;
  margin-bottom  : 5em;
  text-align     : justify;
  max-width      : 35em;
  margin-top     : 1em;
  margin-bottom  : auto;
  font-size      : 1.19999em;
  margin         : 1em auto auto auto;
  line-height    : 1.39999em;
}

body div#content div#textBody
{
  margin : 1em auto auto auto;
}

body div#content h1
{
  text-align  : center;
  margin      : auto auto auto auto;
  line-height : 1.1em;
}

body div#content p#go-home
{
  text-align   : center;
  width        : 80vw;
  position     : relative;
  margin-left  : calc(-40vw + 50%);
  margin-right : calc(-40vw + 50%);
}

@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content p#go-home
{
  margin-left  : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
  margin-right : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
}

}
body div#content h1#title
{
  width        : 80vw;
  position     : relative;
  margin-left  : calc(-40vw + 50%);
  margin-right : calc(-40vw + 50%);
}

@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content h1#title
{
  margin-left  : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
  margin-right : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
}

}
body div#content p#date
{
  text-align   : center;
  width        : 80vw;
  position     : relative;
  margin-left  : calc(-40vw + 50%);
  margin-right : calc(-40vw + 50%);
}

@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content p#date
{
  margin-left  : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
  margin-right : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
}

}
body div#content p#read-time
{
  text-align   : center;
  width        : 80vw;
  position     : relative;
  margin-left  : calc(-40vw + 50%);
  margin-right : calc(-40vw + 50%);
}

@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content p#read-time
{
  margin-left  : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
  margin-right : calc(-1 * (80vw - 1.5 * 35 * (19.2px)) / 2);
}

}
body div#content blockquote
{
  text-align : justify;
}

body div#content img
{
  width : 100%;
}

body div#content figure
{
  margin-top    : 1em;
  margin-bottom : auto;
  display       : block;
}

@media all and (max-width: 1000px)
{
body div#content figure
{
  width        : 98vw;
  position     : relative;
  margin-left  : calc(-49vw + 50%);
  margin-right : calc(-49vw + 50%);
}

@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content figure
{
  margin-left  : calc(-1 * (99vw - 1.5 * 35em) / 2);
  margin-right : calc(-1 * (99vw - 1.5 * 35em) / 2);
}

}
}
@media all and (min-width: 1000px)
{
body div#content figure
{
  width        : 80vw;
  position     : relative;
  margin-left  : calc(-40vw + 50%);
  margin-right : calc(-40vw + 50%);
}

@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content figure
{
  margin-left  : calc(-1 * (80vw - 1.5 * 35em) / 2);
  margin-right : calc(-1 * (80vw - 1.5 * 35em) / 2);
}

}
}
body div#content figcaption
{
  text-align : center;
}

@media all and (max-width: 63em)
{
body div#content
{
  margin-left  : auto;
  margin-right : auto;
}

}
@media all and (min-width: 84em)
{
body div#content
{
  margin-left  : auto;
  margin-right : auto;
}

}
@media all and (min-width: 63.62999em) and (max-width: 84.84em)
{
body div#content
{
  position    : relative;
  margin-left : calc((100% - 1.5 * 35em) / 2);
}

}
@media all and (min-width: 760px)
{

body span.sidenote
{
  float          : right;
  clear          : right;
  font-size      : 0.8em;
  vertical-align : baseline;
  text-indent    : -0.5em;
  line-height    : 1.1em;
  width          : 50%;
  margin-right   : -53%;
}

}
@media all and (max-width: 760px)
{

body span.sidenote
{
  float          : right;
  clear          : right;
  font-size      : 0.8em;
  vertical-align : baseline;
  text-indent    : -0.5em;
  line-height    : 1.1em;
  width          : 50%;
  margin-right   : -53%;
  text-align     : start;
}

}

/* Generated with Clay, http://fvisser.nl/clay */