
body
{
  background-color : #fbf7ea;
  font-family      : "tex_gyre_pagella", serif;
  color            : #444444;
  counter-reset    : sidenote-counter;
}

body a.sidenote-number
{
  counter-increment : sidenote-counter;
  vertical-align    : super;
  font-size         : smaller;
  text-decoration   : none;
  color             : #ff541c;
  margin            : 0 0 0 0;
  padding           : 0 0 0 0;
  line-height       : 0.5em;
}

body a.sidenote-number::before
{
  content : counter(sidenote-counter);
}

body span.sidenote::before
{
  content        : counter(sidenote-counter);
  vertical-align : super;
  font-size      : smaller;
  color          : #ff541c;
  position       : relative;
}

body div#disqus_thread
{
  max-width : 40em;
  margin    : 2em auto auto auto;
}

body div#content
{
  text-rendering : optimizeLegibility;
  margin-top     : 5em;
  margin-bottom  : 5em;
  text-align     : justify;
  max-width      : 35em;
  margin         : 1em auto auto auto;
  font-size      : 1.19999em;
  margin         : 1em auto auto auto;
  line-height    : 1.39999em;
}

body div#content div#textBody
{
  margin : 1em auto auto auto;
}

body div#content h1
{
  text-align  : center;
  margin      : auto auto auto auto;
  line-height : 1.1em;
}

body div#content p#date
{
  text-align : center;
}

body div#content p#read-time
{
  text-align : center;
}

body div#content blockquote
{
  text-align : justify;
}

body div#content img
{
  margin  : 1em auto auto auto;
  display : block;
}

@media all and (min-width: 760px)
{
body div#content img
{
  width    : 80vw;
  position : relative;
}

@media all and (min-width: 55em) and (max-width: 75em)
{
body div#content img
{
  left         : calc(40% - 18.3em);
  right        : calc(40% + 18.3em);
  margin-left  : calc(18.3em - 40vw);
  margin-right : calc(-18.3em - 40vw);
}

}
@media all and (min-width: 75em) and (max-width: 90em)
{
body div#content img
{
  left         : calc(40% - 14em);
  right        : calc(40% + 14em);
  margin-left  : calc(14em - 40vw);
  margin-right : calc(-14em - 40vw);
}

}
@media all and (min-width: 90em)
{
body div#content img
{
  left         : calc(40% + 2em);
  right        : 40%;
  margin-left  : calc(2em - 40vw);
  margin-right : -40vw;
}

}
}
@media all and (max-width: 760px)
{
body div#content img
{
  width        : 100vw;
  position     : relative;
  left         : 50%;
  right        : 50%;
  margin-left  : -50vw;
  margin-right : -50vw;
}

}
@media all and (min-width: 55em) and (max-width: 75em)
{
body div#content
{
  padding-right : 18.3em;
}

}
@media all and (min-width: 75em) and (max-width: 90em)
{
body div#content
{
  padding-right : 14em;
}

}
@media all and (min-width: 760px)
{

body span.sidenote
{
  float          : right;
  clear          : right;
  font-size      : 0.8em;
  vertical-align : baseline;
  text-indent    : -0.5em;
  line-height    : 1.1em;
  width          : 50%;
  margin-right   : -53%;
}

}
@media all and (max-width: 760px)
{

body span.sidenote
{
  float          : right;
  clear          : right;
  font-size      : 0.8em;
  vertical-align : baseline;
  text-indent    : -0.5em;
  line-height    : 1.1em;
  width          : 50%;
  margin-right   : -53%;
  text-align     : start;
}

}

/* Generated with Clay, http://fvisser.nl/clay */