h1 {
	font-family: sans-serif;
}

#periodic-table {
	width:100%;
	font-family: sans-serif;
	text-align: center;
	border-collapse: collapse;
}

#periodic-table td {
	border: 1px solid black;
}

#periodic-table .padding {
	border:none;
} 

.element-number {
	font-size: 50%;
}

.element-name {
	font-size: 150%;
}

.full-name {
	font-size: 50%;
}

.grade {
	font-size: 75%;
}