doctype html
html
  head
    title='sidharth kapur'
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Domine')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='index.css')
    block scripts
  body
    #content
      h1 sidharth kapur
      h2
        a(href='set/shapes.html') play set