*
  padding: 0
  margin: 0

html
  height: 100%

body
  background-color: #E6FAAF
  font-size: 150%
  font-family: "Roboto", serif
  height: 100%

#content
  background-color: #D0FA58
  margin-left: 15%
  margin-right: 15%
  min-height: 100%

h1
  font-weight: normal
  font-family: "Domine", serif !important

a
  text-decoration: none

$link-color = blue

a:link
  color: $link-color

a:visited
  color: $link-color

a:hover
  color: $link-color

a:active
  color: $link-color
