doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    block scripts
  body
    h1 sidharth kapur
    h2
      a(href='set/shapes.html') play set