h1 {
	font-family: sans-serif;
	font-family: "Open Sans";
	text-align: center;
}

#periodic-table {
	width:100%;
	font-family: sans-serif;
	text-align: center;
	border-collapse: collapse;
}

#periodic-table td {
	border: 1px solid black;
	height: 100px;
}

#periodic-table .padding {
	border:none;
} 

.element-number {
	font-size: 50%;
	font-family: "Open Sans";
}

.element-name {
	font-size: 150%;
	font-family: "Raleway";
}

.full-name {
	font-size: 50%;
	font-family: "Open Sans";
}

.grade {
	font-size: 75%;
	font-family: "Open Sans";
}